*{
    font-family: Garamond, serif;
}

#baner{
    background: linear-gradient(#97b498, #c8e6c9);
    color: white;
    text-align: center;
    padding: 5px;
}

#lewy{
    background: #c8e6c9;
    color: #005005;
    width: 40%;
    height: 600px;
    float: left;
}

#prawy{
    color: #005005;
    width: 60%;
    height: 600px;
    overflow: scroll;
    float: left;
}

#stopka{
    background: linear-gradient(#c8e6c9, #97b498);
    color: white;
    padding: 12px;
    clear: both;
}

video{
    width: 100%;
}

form{
    padding: 10px 50px;
}

button{
    background: #97b498;
    color: white;
}

button:hover{
    background: white;
    color: #97b498;
}