body, h1{
    margin: 0;
    padding: 0;
}
#baner{
    background: #3A7AD9;
    text-align: center;
    height: 50px;
}
#panel-lewy{
    background: #5D93E2;
    height: 400px;
    width: 30%;
    float: left;
}
#panel-prawy{
    background: #88B0EC;
    height: 400px;
    width: 70%;
    float: left;
}
#stopka{
    background: #3A7AD9;
    text-align: right;
    clear: both;
}